container_commands:
  01_ensure_eb_docker:
    command: "systemctl enable eb-docker.service && systemctl start eb-docker.service || true"
    ignoreErrors: true
  02_ensure_eb_docker_log:
    command: "systemctl enable eb-docker-log.service && systemctl start eb-docker-log.service || true"
    ignoreErrors: true
  03_check_services:
    command: "systemctl is-active eb-docker.service eb-docker-log.service || true"
    ignoreErrors: true

